
# Intellij
.idea/
*.iml
*.iws

# Maven
log/
target/

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
*.backup

# C# and Visual Studio
*.dll
*.pdb
obj/
cms/lib/*.xml
cms/upload/*.xml
cms/upload/*.exe*

# SDL Tridion license + software
java/dd4t-lite-sdltridion/env/lib/*.jar
java/dd4t-lite-sdltridion/env/conf/*.xml